
.navbar {
    background-color: #404258;
    display: flex;
    height: 100px;
}
.navbar > .logo {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.navbar > .nav-link{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar > .cart-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cart-count{
    background-color: #ffffff;
    color: #404258;
    border-radius: 100%;
    padding: 2px;
}
