@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
body {
  color: #ffffff;
  background-color: #6B728E;
  font-family: 'Dancing Script', cursive;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color:#b5b8c6; 
  text-decoration:none; 
  cursor:pointer;  
}